
<%- include('./header.ejs') %>

<div
  style="margin: 0 auto; max-width: 720px; padding: 30px 0; font-family: Arial"
>
  <h3>Hello, <%= toEmail %></h3>
  <p>Welcome to my app , <%= toName %></p>
</div>

<%- include('./footer.ejs') %>